{% extends 'core/base.html' %}
{% block title %}{{ receita.nome }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="receita-titulo mb-4"><i class="fas fa-utensils me-2"></i>{{ receita.nome }}</h2>

            <div class="row receita-detalhe-container">
                <div class="col-md-6 receita-detalhe-secao">
                    <h3><i class="fas fa-clipboard-list me-2"></i>Ingredientes</h3>
                    <pre class="mt-3">{{ receita.ingredientes }}</pre>
                </div>

                <div class="col-md-6 receita-detalhe-secao">
                    <h3><i class="fas fa-book me-2"></i>Modo de Preparo</h3>
                    <pre class="mt-3">{{ receita.modo_preparo }}</pre>
                </div>
            </div>

            <div class="acoes text-center mt-4">
                <a href="{% url 'listar_receitas' %}" class="btn btn-secondary me-2"><i class="fas fa-arrow-left me-1"></i> Voltar para a lista</a>
                <a href="{% url 'excluir_receita' receita.pk %}" class="btn btn-danger"><i class="fas fa-trash-alt me-1"></i> Excluir</a>
            </div>
        </div>
    </div>

{% endblock %}